<!doctype html>

<html>
  <head>
    <title>My LIfe Hacker App</title>

    <link href="normalize.css" rel="stylesheet" type="text/css" media="all">
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
  </head>

  <body>
    <header>
    <h1>Welcome to My Life Hacker App</h1>
    </header>
    </br>
    <%= yield %>


  </body>
</html>


